{
    "$schema": "https://swc.rs/schema.json",
    "jsfsfdsssssc": {
    "parser": {
      "syndfsdfstax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    }
  }
}